*{
    font-family: "Orbitron", sans-serif;
}
.glow-text-purple {
    color: #8a2be2;
    text-shadow: 0 0 30px rgba(138, 43, 226, 1),
                 0 0 60px rgba(138, 43, 226, 0.5);
}
.glow-text-orange{
    color: #ff4500;
    text-shadow: 0 0 30px rgba(255, 69, 0, 1),
                 0 0 60px rgba(255, 69, 0, 0.5);
}
.glow-text-ciel{
    color: #00bfff;
    text-shadow: 0 0 30px rgba(0, 191, 2555, 1),
                 0 0 60px rgba(0, 191, 255  , 0.5);
}

.element-card{
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid;
    border-radius: 1rem;
    /* overflow: hidden; */
    transition: all 0.4s ease;
}
.element-card:hover{
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);
}

.card-lightning{
    border-color: #8a2be2;
    box-shadow: 0 0 30px rgba(138, 43, 226, 0.5);
}
.card-lightning:hover{
    box-shadow: 0 0 50px rgba(138, 43, 226, 1),
                 0 20px 60px rgba(0, 0, 0, 0.8);
}
.card-fire{
    border-color: #ff4500;
    box-shadow: 0 20px 60px rgba(138, 43, 226, 0.5);
}
.card-fire:hover{
    box-shadow: 0 0 50px rgba(255, 69, 0, 1),
                 0 20px 60px rgba(0, 0, 0, 0.8);
}
.card-ice{
    border-color: #00bfff;
    box-shadow: 0 20px 60px rgba(0, 191, 255, 0.5);
}
.card-ice:hover{
    box-shadow: 0 0 50px rgba(0, 191, 255, 0.5),
                 0 20px 60px rgba(0, 0, 0, 0.8);
}

.slider{
    position: relative;
    height: 600px;
    overflow: hidden;
    border-radius: 1rem;
    border: 3px solid rgba(138, 43, 226, 0.5);
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;
}

.slide.active{
    opacity: 1;
}

.slide-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3rem;
}

.slider-nav{
    position: absolute;
    bottom:2rem;
    left: 50%;
    /* transform: translateX(-50%); */
    display: flex;
    gap: 1rem;
    z-index: 10;
}

.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.dot.active{
    background: #8a2be2;
    width: 50px;
    border-radius: 10px;
    border-color: #8a2be2;
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.8);
}

